APP_ID = "28653571" # dah jan di ganti biar ga ribet
API_HASH = "eca35c0338b15aa33cc2d5df4a5a7b65" ## dah jan di ganti biar ga ribet
BOT_TOKEN = "6325594724:AAH-2SZRoxVdpbirNhXlyG5-uwlE7HU43CQ"

ADMINS = "1707380693" # tambah spasi kalo mau lebih dari 1 admin
OWNER = "repaldo"

CHANNEL_DB = -1001950756152
FORCE_SUB_1 = -1002037994205
FORCE_SUB_2 = -1002018123667
# tambah lagi jika ingin lebih dari 2
# contoh
# FORCE_SUB_2 = -100123456

# BUTTON UNLIMITID

# Sesuaikan dengan type database kalian jika (mongodb isi mongo, jika SQL isi sql)
# contoh DATABASE_TYPE = "mongo"
DATABASE_TYPE = "sql"

# DATA BASE SQL(kosongkan jika ingin mengisi MongoDB)
DB_URL = "postgres://tlmyyost:P2inlcCa4QcIWDD0QvlleYEkGsjBAX2I@flora.db.elephantsql.com/tlmyyost"

# DATABASE MongoDB(Kosongkan jika mengisi Sql)
MONGO_NAME = ""
MONGO_URL = ""

# Pilih ya cok Databasenya bukan di isi semua
